.project-list-table {
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.project-list-table caption {
  margin-left: 10px;
  text-align: left;
}

.project-list-table thead tr {
  background-color: #4c0098;
  color: #ffffff;
  text-align: left;
}

.project-list-table th,
.project-list-table td {
  padding: 12px 15px;
}
