<div class="container-fluid">
  <h1>Employee list</h1>
  <table class="employee-list-table" *ngIf="data$ | async as data; else empty">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of data | slice:0:10">
        <td>{{ employee.personalNumber }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.mail }}</td>
        <td>
          <button class="btn btn-info" [routerLink]="'/employee-details/'+employee.personalNumber">Details</button>
          <button class="btn btn-warning" (click)="remove(employee.personalNumber)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #empty> There is no employee data </ng-template>
</div>

