.employee-list-table {
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.employee-list-table thead tr {
  background-color: #006f98;
  color: #ffffff;
  text-align: left;
}

.employee-list-table th,
.employee-list-table td {
  padding: 12px 15px;
}
